<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=localhost;Integrated Security=True" />
		<add key="Databases" value="shop, frontend, accounting" />
		<add key="BackupDir" value="C:\DB_Backups" />
		<add key="DeletionDays" value="10" />
		<add key="FtpServer" value="" />
		<add key="FtpLogin" value="" />
		<add key="FtpPassword" value="" />
		<add key="FtpUploadDir" value="/" />
	</appSettings>
</configuration>

